.small-cards {
  align-items: center;
  display: flex;
  gap: 0.625em;
  height: 100%;
  justify-content: center;
}

.small-card {
  cursor: pointer;
  height: 200px;
  padding: 0.25em;
  width: 150px;
}

.small-card:focus {
  outline: 3px solid #1dacd6;
}
