.card {
  align-items: center;
  background-color: #fffdf5;
  border: 5px solid #000000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 0.625rem;
  justify-content: center;
  height: 200px;
  padding: 0.25em;
  width: 150px;
}

.card--emoji {
  color: transparent;
  font-size: 350%;
  text-align: center;
  text-shadow: 0 0 0 var(--card-colour);
}

.card--name {
  color: var(--card-colour);
  font-family: courier;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.card[data-name='brownstone'] {
  --card-colour: #834333;
}

.card[data-name='tangerine'] {
  --card-colour: #f28500;
}

.card[data-name='saffron'] {
  --card-colour: #f4c430;
}
